{% extends "base.html" %} {% block content %}
<main id="main" class="main">
  <section class="section dashboard">
    <div class="row">
      <!-- Left side columns -->
      <div class="col-lg-12">
        <div class="row">
          <!-- Reports -->
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">SHNG School</h5>

                <!-- Slides only carousel -->
                <div
                  id="carouselExampleSlidesOnly"
                  class="carousel slide"
                  data-bs-ride="carousel"
                >
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img
                        src="../../static/img/school.jpg"
                        class="d-block w-100"
                        alt="..."
                      />
                    </div>
                    <div class="carousel-item">
                      <img
                        src="../../static/img/school2.jpg"
                        class="d-block w-100"
                        alt="..."
                      />
                    </div>
                    <div class="carousel-item">
                      <img
                        src="../../static/img/school3.jpg"
                        class="d-block w-100"
                        alt="..."
                      />
                    </div>
                  </div>
                </div>
                <!-- End Slides only carousel-->
              </div>
            </div>
          </div>
          <!-- End Reports -->
        </div>
      </div>
      <!-- End Left side columns -->
    </div>
  </section>
</main>
{% endblock %}
