<section class="section">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Homework Details</h5>

          <!-- Default Accordion -->
          <form
            action="{% url 'submit_homework' %}"
            method="post"
            id="hw-submit"
          >
            {% csrf_token %}
            <div class="accordion" id="accordionPanelsStayOpenExample">
              {% for subject, tasks in homework_list.items %}
              <div class="accordion-item">
                <h2
                  class="accordion-header"
                  id="panelsStayOpen-heading{{ forloop.counter0 }}"
                >
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapse{{ forloop.counter0 }}"
                    aria-expanded="false"
                    aria-controls="panelsStayOpen-collapse{{ forloop.counter0 }}"
                  >
                    {{ subject }}
                  </button>
                </h2>
                <div
                  id="panelsStayOpen-collapse{{ forloop.counter0 }}"
                  class="accordion-collapse collapse"
                  aria-labelledby="panelsStayOpen-heading{{ forloop.counter0 }}"
                >
                  <div class="accordion-body">
                    {% for task in tasks %} {% for id, value in task.items %}
                    <div class="col-sm-10">
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="gridCheck{{ forloop.counter0 }}"
                          value="{{ subject }}-{{ id }}"
                          name="selected_tasks"
                          {%
                          if
                          value.1
                          %}
                          checked
                          disabled
                          {%
                          endif
                          %}
                        />
                        <label
                          class="form-check-label"
                          for="gridCheck{{ forloop.counter0 }}"
                        >
                          {{ value.0 }}
                        </label>
                      </div>
                    </div>
                    {% endfor %} {% endfor %}
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
            <br />
            <div class="row mb-3">
              <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </form>
          <!-- End Default Accordion Example -->
        </div>
      </div>
    </div>
  </div>
</section>
